@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-size: 80%;
  }
  body {
    @apply bg-taifi-beige text-taifi-darkGray font-sans;
  }

  /* Custom Webkit Scrollbar */
  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  ::-webkit-scrollbar-track {
    background: #0A3A2F; 
  }
  ::-webkit-scrollbar-thumb {
    background: #D4AF37; 
    border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #F3E5AB; 
  }

  /* For Firefox */
  * {
    scrollbar-width: thin;
    scrollbar-color: #D4AF37 #0A3A2F;
  }
}
